<!DOCTYPE html>
<html lang="en" ng-app = 'myNinjaApp'>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">

    <script src="https://code.angularjs.org/1.6.3/angular.min.js"></script>
    <script src="app.js" charset="utf-8"></script>
    <title>angular</title>
</head>
<body>

  <div ng-controller='ninjaController'>
    <div class="content">
      <button ng-click="order = 'name'">Order by name</button>
      <button ng-click="order = 'belt'">Order by belt</button>
    <input type='text' ng-model='search'>
    <ul>
      <li ng-repeat="ninja in ninjas | orderBy: order | filter:search" ng-show='{{ninja.available}}'>
        <img ng-src="{{ninja.thumb}}" width="50px">
        <h3>
        {{ninja.name}} {{ninja.rate | currency}}
        </h3>
        <span class="remove" ng-click="remove(ninja)">x</span>
        <span class="belt" style="background:{{ninja.belt}}">{{ninja.belt}} Belt</span>
      </li>
    </ul>
    <form ng-submit="addNinja()">
      <input type="text" placeholder="name" ng-model="newNinja.name">
      <input type="text" placeholder="belt" ng-model="newNinja.belt">
      <input type="text" placeholder="rate" ng-model="newNinja.rate">
      <input type="submit" value="Submit" >
    </form>
    </div>
  </div>
</html>
